<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <label for="dob-dd">Date of joining </label>
      <app-dropdown [options]="days"></app-dropdown>
      <app-dropdown
        [options]="months"
        (changeDropdown)="onMonthChange($event)"
      ></app-dropdown>
      <app-dropdown [options]="years"></app-dropdown>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6">
      <label for="role">Role: </label>
      <app-dropdown
        [selectedValue]="experience"
        [options]="roles"
        (changeDropdown)="onRoleChange($event)"
      ></app-dropdown>
    </div>
    <div class="col-6">
      <label for="yoe">Experience</label>
      <input type="range" min="1" max="25" [value]="experience" />
    </div>
  </div>
</div>
